
/.vs
/RuntimeGraphicsInfo/RuntimeGraphicsInfo.vcxproj.user
/RuntimeGraphicsInfo/bin
/RuntimeGraphicsInfo/obj
/RuntimeGraphicsInfo.Plugin/bin
/RuntimeGraphicsInfo.Plugin/obj
/Runtime/Plugins/*/*.lib
/Runtime/Plugins/*/*.exp
/Runtime/Plugins/*/*.pdb
