################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RuntimeGraphicsInfo/RuntimeGraphicsInfo.vcxproj.user
/RuntimeGraphicsInfo/bin
/RuntimeGraphicsInfo/obj
