/.idea
/.vs
/RuntimeGraphicsInfo.Plugin/RuntimeGraphicsInfo.Plugin.vcxproj.user
/RuntimeGraphicsInfo/bin
/RuntimeGraphicsInfo/obj
/RuntimeGraphicsInfo.Plugin/bin
/RuntimeGraphicsInfo.Plugin/obj
/Runtime/Plugins/*/*.lib
/Runtime/Plugins/*/*.exp
/Runtime/Plugins/*/*.pdb
/cmake-build-debug
/cmake-build-release
*.meta